@font-face {
  font-family: 'Open sans';
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;  
}

@font-face {
  font-family: 'Open sans';
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;  
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  font-family: Open sans regular;
}

.header {
  min-height: 100vh;
  display: flex;
  position: relative;
  background-color: #0a0e34;
}

.header::after {
  content: "";
  background-image: url("img/football_767.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: 0;
}

.header-wrap  {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 2;
  margin: auto;
}

.header .header-wrap  {
  padding-top: 33px;
}

.text-icon {
  fill: #ffffff;
  width: 134px;
  height: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-title, .footer-title {
  visibility: hidden;
  position: absolute;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 137px;
  margin-bottom: 88px;
}

.tagline {
  margin-left: 44px;
  margin-top: 30px;
}

.buttons {
  font-size: 8px;
  margin-bottom: 84px;
 }

.download-button {
  display: flex;
  box-sizing: border-box;
  height: 35px;
  background-color: #5e3db3;
  border-radius: 17px;
  text-decoration: none;
  align-items: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.download-button:nth-child(n+2) {
  margin-top: 14px;
}

.icon {
  fill: #ffffff;
  width: 19px;
  height: 18px;
  display: block;
  padding-left: 82px;
}

.button-name {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
  padding-left: 1em;
  margin: 0;
  font-weight: bold;
  display: block;
}

.button-logo {
  margin-top: 0.5em;
  display: block;
}

.section-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 83px;
  padding-bottom: 55px;
}

.section-content:nth-child(n+3) {
  padding-top: 60px;
}

.persons-title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e7e7e7;
  padding-left: 20px;
  padding-top: 25px;
}

.person-img, .basketballer-img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -55px;
}

.color-grey {
  background-color: #fafafa;
}

.color-dark-grey {
  background-color: #f5f4f9;
}

.color-violet {
  background-color: #5e3db3;
}

.color-blue {
  background-color: #090a36;
}

.color-blue, .color-violet  .description {
  color: #ffffff;
}

.color-blue .section-number {
  color: #8761e0;
}

.color-violet .section-number::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 1px;
  display: block;
  margin-top: 3px;
}

.color-blue .section-number::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 1px;
  display: block;
  margin-top: 3px;
}

.section-title {
  display: flex;
}

.section-number {
  font-size: 14px;
  font-weight: bold;
}

.section-number::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #5e3db3;
  border-radius: 1px;
  display: block;
  margin-top: 3px;
}

.section-name {
  font-size: 23px;
  color: #c1c1c1;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 9px;
}

.description {
  padding-top: 30px;
  font-size: 15px;
}

.action-item {
  position: relative;
}

.action-img {
  max-width: 100%;
  display: block;
}

.action-info {
  padding-left: 20px;
  padding-right: 20px;
}

.actions .section-number {
  color: #f5f6f7;
  display: block;
  box-sizing: border-box;
  background-color: #5e3db3;
  padding-left: 26px;
  padding-top: 26px;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-top: -58px;
  left: 20px;
}

.actions .section-number::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #8f78ca;
  border-radius: 1px;
  display: block;
  margin-top: 5px;
}

.action-title {
  color: #e7e7e7;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 34px;
}

.actions .description {
  padding-bottom: 81px;
  padding-top: 28px;
}

.footer {
  position: relative;
  min-height: 100vh;
  display: flex; 
  background-color: #0a0e34;
}

.footer::after {
  content: "";
  background-image: url("img/game_767.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: 0;
}

.footer .header-wrap  {
  padding-bottom: 9px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 75px;
}

.footer-motivation {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 13px;
}

.footer-tagline {
  font-size: 14px;
  text-transform: uppercase;
  color: #9b8dc3;
}

.logo {
  width: 58px;
  height: 47px;
  fill: #ffffff;
  display: block;
  border-radius: 12px;
  background-color: #5e3db3;
  padding: 13px 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 89px;
  margin-bottom: 58px;
}

.footer .text-icon {
  margin-top: 80px;
}

@media (min-width: 641px) {
  .buttons {
    display: flex;
    justify-content: center;
    font-size: 14px;
  }

  .icon {
    width: 42px;
    height: 49px;
    padding-left: 0;
  }

  .download-button {
    width: 310px;
    height: 76px;
    border-radius: 35px;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .athlets, .players {
    position: relative;
  }

  .color-grey {
    background-color: #ffffff; 
  }

  .persons-title {
    font-size: 80px;
  }

  .section-number {
    font-size: 18px;
  }

  .action-title {
    font-size: 80px;
  }

  .actions .description {
    font-size: 24px;
  }

  .actions .section-number {
    font-size: 24px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header::after {
    background-image: url("img/football_1280.jpg");
    background-position: center;
  }

  .header .header-wrap  {
    padding-top: 37px;
  }

  .header-content {
    font-size: 64px;
    margin-left: 90px;
    margin-top: 180px;
  }

  .text-icon {
    width: 205px;
    height: 57px;
  }

  .tagline {
    margin-left: 107px;
    margin-top: 32px;
  }

  .buttons {
    margin-top: 312px;
  }

  .download-button:nth-child(n+2) {
    margin-left: 30px;
    margin-top: 0;
  }

  .button-name {
    padding-left: 1.7em;
  }

  .actions .section-number::after {
    content: "";
    width: 25px;
    height: 5px;
    margin-top: 9px;
  }

  .section-name {
    font-size: 32px;
  }

  .persons-title {
    padding-top: 85px;
    padding-bottom: 0;
    padding-left: 43%;
    padding-right: 32px;
  }

  .players .persons-title {
    padding-left: 32px;
  }

  .athlets .person-img, .basketballer-img {
    position: absolute;
    top: 100px;
    left: -160px;
  }

  .players .person-img, .basketballer-img {
    position: absolute;
    top: 65px;
    right: 0;
  }

  .athlets .section-content {
    padding-left: 43%;
    padding-right: 32px;
  }

  .section-content {
    padding-right: 43%;
    padding-left: 32px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .color-dark-grey, .color-blue, color-violet {
    padding-top: -20px;
  }

  .description {
    padding-top: 32px;
    font-size: 16px;
  }

  .action-info {
    padding-left: 32px;
    padding-right: 32px;
}

  .actions .section-number {
    padding-left: 45px;
    padding-top: 42px;
    width: 116px;
    height: 116px;
    margin-top: -80px;
    left: 32px;
  }

  .action-title {
    padding-top: 55px;
  }

  .footer::after {
    background-image: url("img/game_1280.jpg");
  }

  .footer .header-wrap  {
    padding-bottom: 20px;
  }

  .footer-content {
    margin-bottom: 287px;
  }

  .footer-motivation {
    font-size: 80px;
    margin-bottom: 28px;
  }

  .footer-tagline {
    font-size: 36px;
  }

  .logo {
    width: 102px;
    height: 85px;
    border-radius: 25px;
    padding: 26px 12px;
    margin-top: 126px;
    margin-bottom: 83px;
  }

  .footer .text-icon {
    margin-top: 55px;
  }
}

@media (min-width: 961px) and (max-width: 1920px) {
  .header::after {
    background-image: url("img/football_1920.jpg");
    background-position: center;
  }

  .header-wrap  {
    padding-left: 192px;
    padding-right: 192px;
  }

  .header .header-wrap  {
    padding-top: 45px;
  }

  .text-icon {
    width: 191px;
    height: 52px;
  }

  .header-content {
    font-size: 90px;
    margin-top: 296px;
    margin-bottom: 223px;
  }

  .tagline {
    text-align: right;
    margin-left: auto;
    margin-top: 27px;
  }

  .buttons {
    font-size: 14px;
    margin-bottom: 109px;
  }

  .icon {
    width: 42px;
    height: 49px;
  }

  .download-button:nth-child(n+2) {
    margin-left: 50px;
    margin-top: 0;
  }

  .button-name {
    padding-left: 1.5em;
  }

  .button-logo {
    margin-top: 5px;
  }

  .persons-title {
    padding-top: 116px;
    padding-bottom: 0;
    padding-right: 192px;
  }

  .athlets .person-img, .basketballer-img {
    position: absolute;
    top: 100px;
    left: -160px;
  }

  .players .person-img, .basketballer-img {
    position: absolute;
    top: 65px;
    right: 0;
  }

  .section-name {
    font-size: 36px;
  }

  .section-number::after {
    content: "";
    width: 20px;
    height: 5px;
    margin-top: 7px;
  }

  .description {
    font-size: 20px;
  }

  .action-item {
    display: flex;
  }


  .action-img-wrap {
  	width: 50%;
  	margin: 0;
  	

  }

  .action-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .action-info {
    display: flex;
    padding-left: 0;
    width: 50vw;
    padding-top: 160px;
  }

  .action-info:nth-child(2n+) {
    flex-direction: row-reverse;
  }

  .actions .section-number {
    display: block;
    padding-left: 70px;
    padding-top: 62px;
    width: 165px;
    height: 151px;
    left: 0;
    right: 0;
    margin: auto;
    top: 160px;
  }

  .actions .section-number::after {
    content: "";
    width: 27px;
    height: 5px;
    margin-top: 9px;
  }

  .action-content-left {
    padding-left: 128px;

  }

  .action-content-right {
     padding-left: 180px;
     width: 364px;
}

  .action-title {
    padding-top: 0;
    font-size: 60px
  }

  .footer::after {
    background-image: url("img/game_1920.jpg");
    background-position: center;
  }

  .title-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 152px;
    margin-top: 230px;
  }

  .logo {
    margin: 0;
  }

  .footer-content {
    margin-left: 37px;
    margin-bottom: 0;
  }

  .footer .header-wrap  {
    padding-bottom: 51px;
  }

  .footer .buttons {
    margin-bottom: 262px;
  }

.section-right-wrap {
 	margin-left: 50%;
 }

.person-img {
	margin-left: 390px;
}

.section-left-wrap{
     margin-left: 180px;
     margin-right: 50%
 }

 .basketballer-img {
 	margin-left: 630px;
 }

}
